
.relojDigital {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 900px;
    background-color: gray;
}

.relojDigital div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;    
    background-color: #101010;
    color: aliceblue;
    padding: 10px;
    margin: 5px;
}

.far {
    color: red;
    font-size: 100px;
    
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
